<aside class="sidebar hidden-xs">
    <ul class="nav nav-pills nav-stacked">
        @for (int i = 0; i < 8; i++)
        {
            <li><a href="#">Menu Item.Name</a></li>
        }
    </ul>
    <div class="form-group">
        <label for="salesSelect">Sales</label>
        <select class="form-control input-sm" id="salesSelect">
            <option>Sales</option>
        </select>
    </div>
</aside>