@inherits LayoutComponentBase

<div class="dashboard-wrapper">
    <TopBar />

    <div class="content-container">
        <Sidebar />

        <main class="main-content">
            @Body
        </main>
    </div>
</div>
