@page "/"

<main class="main-content">
    <div class="toolbar">
        <button class="btn btn-default btn-sm">Save</button>
        <button class="btn btn-default btn-sm">New</button>
        <button class="btn btn-default btn-sm">Delete</button>
        <button class="btn btn-default btn-sm">Deactivate</button>
    </div
    <DataTable />
</main>
